
/* latin-ext */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Dosis', sans-serif;
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#url-bar, .url-bar {
  font-family: Arial,sans-serif;
}

#url-bar-mobile, .url-bar-mobile {
  font-family: Arial,sans-serif;
  display: inline-flex;
  width: 160px;
}

/*h3 {
  margin-top: 2rem;
}*/

.row {
  margin: 0px;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /*border: 1px solid rgba(86,61,124,.2);*/
  text-align: center;
}

/*[class*="col-md-"] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}*/

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: 1em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}*/

.browser-mockup-row {
  background-color: rgba(230, 230, 230, 0.7);
  /*background-color: rgba(86,61,124,.15);*/
  /*border-top: 2em solid rgba(230, 230, 230, 0.7);*/
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.hamburguer {
  max-height: 25px;
  /*margin-left: -15px;*/
}

.hamburguer-wrapper {
  display: : inline;
}

.url {
  background-color: white;
  border-radius: 5px;
  height: 1.7em;
  text-align: left;
  padding-left: 5px;
  position: inherit;
  overflow: hidden;
}

.url_mobile {
  background-color: white;
  border-radius: 5px;
  height: 1.7em;
  text-align: left;
  padding-left: 5px;
  position: absolute;
  overflow: hidden;
  width: 250px;
}

.html-content {
  height: 40em;
  /*overflow: scroll;*/
  padding: 0px !important;
  background-color: rgba(86,61,124,.15);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
}

.html-content-mobile {
  height: 100%;
  /*overflow: scroll;*/
  padding: 0px !important;
  background-color: rgba(86,61,124,.15);
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
}

.botones {
  margin-bottom: 10px;
  padding-bottom: 15px;
}

#browser-wrapper {
  text-align: center;
}

#browser {
  display: inline-table;
  width: 100%;
}

.controles {
  max-height: 1em;
}

.popover-body {
  background-color: yellow;
}

.popover-header {
  background-color: yellow !IMPORTANT;
}

.popover-section {
  background-color: yellow;
}

.https_green {
  color: green;
  font-family: Arial,sans-serif;
  display: inline-block;
}

.https_red {
  color: red;
  font-family: Arial,sans-serif;
  text-decoration: line-through;
  display: inline-block;
}
/* comentario */
.https_grey {
  color: grey;
  font-family: Arial,sans-serif;
  display: inline-block;
}
